<div class="unauthed-card">
    <img src="/img/logo.svg" width="116px" height="125px" alt="logo">
    <form action="/login" method="post">
        <input type="email" placeholder="メールアドレス" name="email" />
        <input type="password" placeholder="パスワード" name="password"/>
        <button type="submit">
            ログイン
        </button>
        <p>はじめてご利用の方は<a href="/signup">こちら</a></p>
    </form>
</div>