<div class="unauthed-card">
    <img src="/img/logo.svg" width="116px" height="125px" alt="logo">
    <form action="/signup" method="post">
        <input type="text" placeholder="ニックネーム" name="name" />
        <input type="text" placeholder="@" name="user_id"/>
        <input type="email" placeholder="メールアドレス" name="email"/>
        <input type="password" placeholder="パスワード" name="password"/>
        <button type="submit">
            アカウント登録
        </button>
        <p>すでにアカウントをお持ちの方は<a href="/login">こちら</a></p>
    </form>
</div>